<!DOCTYPE html>
<html>
	<head>
		<title>Chat</title>
	</head>
	<!--Coded With Love By Mutiullah Samim-->
	<body>
<div class="col-md-8 col-xl-12 chat py-3">
    <div class="card">
      <div class="card-header msg_head">
        <div class="display-5 text-white px-auto" style="font-size: small;position:absolute;padding-left:84%;padding-top:4%">Welcome, {{loginname}}</div>
        <div class="d-flex bd-highlight">
          <div class="img_cont">
            <img *ngIf="!userdata.image" src="../assets/images/default.jpg" class="rounded-circle user_img">
            <img *ngIf="userdata.image" src="http://localhost:5050/images/profilepic/{{userdata.image}}" class="rounded-circle user_img">
            <span *ngIf="offlineOnline == 'online'" class="online_icon"></span>
          </div>
          <div class="user_info">
            <span>Chat with {{userdata.name}}</span>&nbsp;<span style="font-size:small">{{type}}</span>
            <p>{{msgcount}} Messages</p>
          </div>
        </div>
        <span id="action_menu_btn"><i class="fas fa-ellipsis-v"></i></span>
        <div class="action_menu">
          <ul>
            <li class="font-small" data-toggle="modal" data-target="#profilemodal"><i class="fas fa-user-circle"></i> View profile</li>
            <li class="font-small" (click)="logout()"><i class="fas fa-user-circle"></i> Logout </li>
          </ul>
        </div>
      </div>
      <div class="card-body msg_card_body" #scrollMe>
        <div *ngFor="let msg of userChats" >
          <div *ngIf="msg.senderId == loginId" [@FadeInOut] class="d-flex justify-content-end mb-4">
              
            <div class="img_cont_msg">
                <img *ngIf="!senderImg" src="../assets/images/default.jpg" class="rounded-circle user_img_msg">
                <img *ngIf="senderImg" src="http://localhost:5050/images/profilepic/{{senderImg}}" class="rounded-circle user_img_msg">
            </div>
            <div class="msg_cotainer" id="messages">
              {{msg.messages}}
              <div class="msg_time">{{msg.createdAt | date: 'yyyy/MM/dd h:mm:ss a'}}</div>
            </div>
          </div>
          <div *ngIf="msg.senderId != loginId" class="d-flex justify-content-start mb-4">
              <div class="img_cont_msg">
                  <img *ngIf="!userdata.image" src="../assets/images/default.jpg" class="rounded-circle user_img_msg">
                  <img *ngIf="userdata.image" src="http://localhost:5050/images/profilepic/{{userdata.image}}" class="rounded-circle user_img_msg">
              </div>
              <div class="msg_cotainer" id="messages">
                {{msg.messages}}
                <div class="msg_time">{{msg.createdAt | date: 'yyyy/MM/dd h:mm:ss a'}}</div>
              </div>
            </div>
        </div>
      </div>
      <div class="card-footer">
        <div class="input-group">
          <div class="input-group-append">
            <span class="input-group-text attach_btn"><i class="fas fa-paperclip"></i></span>
          </div>
          <textarea name="" class="form-control type_msg" (keydown)="startTyping($event)" (keyup)="stopTyping($event)" placeholder="Type your message..." [(ngModel)]="chatMessage"></textarea>
          <div class="input-group-append">
            <span class="input-group-text send_btn" (click)="sendMessage()"><i class="fas fa-location-arrow"></i></span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="profilemodal" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
            <h5>My Profile</h5>
        </div>
        <div class="modal-body">
          <label class="form-label" for="firstName"><strong>FirstName:</strong>&nbsp; </label><span>{{firstname}}</span><br>
          <label class="form-label" for="lastName"><strong>LastName:</strong>&nbsp; </label><span>{{lastname}}</span><br>
          <label class="form-label" for="About"><strong>About:</strong>&nbsp; </label><span>{{about}}</span><br>
          <label class="form-label" for="Phone"><strong>Contact No.:</strong>&nbsp; </label><span>{{phone}}</span><br>
        </div>
        <div class="modal-footer">
          <button class="btn btn-primary" data-dismiss="modal">Ok</button>
        </div>
      </div>
    </div>
  </div>
</body>
</html>