/* You can add global styles to this file, and also import other style files */
html,head,body{
    height:100%;
    font-family: sans-serif;
    background-image: url('./assets/images/background.jpg');
    background-position: cover;
    background-repeat: no-repeat;
    background-size: 100%;
}

div,p,span,h1,h2,h3,h4,h5,input{
    font-family: sans-serif;
}

h3{ font-size:18px;}
.form-control{font-size:14px;}
.btn{border:0;font-size:14px;}
.card-footer{font-size: 14px;}

.font-small{font-size:small}
