<!DOCTYPE html>
<html>
	<head>
		<title>Chat</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css">
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.js"></script>
	</head>
	<!--Coded With Love By Mutiullah Samim-->
	<body>
		<div class="container-fluid h-100">
			<div class="display-5 text-white px-auto" style="font-size: small;position:absolute;padding-left:78%;padding-top:4%">Welcome, {{fullname}}</div>
			<div class="row justify-content-center h-100">
				<div class="col-md-12 col-xl-10 chat"><div class="card mb-sm-3 mb-md-0 contacts_card">
					<div class="card-header">
						<div class="input-group">
                			<input placeholder="Enter Firstname or Username" id="search_box" name="search_box" type="text" class="form-control search" (keyup)="getAllUsers()" [(ngModel)] = "searchKey" style="font-size:small">
							<div class="input-group-prepend">
								<span class="input-group-text search_btn"><i class="fas fa-search"></i></span>
							</div>
						</div>
					</div>
					<div class="card-body contacts_body">
						<ul class="contacts list-group">
						<li *ngFor="let user of userList" [@FadeInOut] class="select active mx-auto mb-3 list-group-items" (click)="createRoom(user._id,user.imageUrl,user.firstname,user.lastname,user.status)">
							<div class="d-flex bd-highlight">
								<div class="img_cont">
									<span *ngIf="user.imageUrl">
									<img src="http://localhost:5050/images/profilepic/{{user.imageUrl}}" alt="" class="rounded-circle user_img">
									</span>
									<span *ngIf="!user.imageUrl">
									<img src="../assets/images/default.jpg" alt="" class="rounded-circle user_img">
									</span>
									<span *ngIf="user.status == 'online'" class="online_icon"></span>
								</div>
								<div class="user_info">
									<span>{{user.firstname}}</span>
									<p>{{user.firstname}} is {{user.status}}</p>
								</div>
							</div>
						</li>
						</ul>
					</div>
					<div class="card-footer"></div>
				</div></div>
					</div>
				</div>
	</body>
</html>