<body>
<div class="container h-auto w-100">
			<div class="py-3 px-3">
				<span class="text-white mx-auto" style="font-size: small;position:relative;padding-top:50px;">Welcome, {{fullname}}</span>
				<span><a routerLink="/search" class="text-white float-right" style="font-size:small;">Search Users</a></span>
			</div>
			<div class="row justify-content-center">
				<div class="col-md-12 chat ml-3">
				<div class="card mb-sm-3 mb-md-0 contacts_card">
					<!-- <div class="card-header">
						<div class="input-group">
                			<input placeholder="Enter Firstname or Username" id="search_box" name="search_box" type="text" class="form-control search" (keyup)="getUsers()" [(ngModel)] = "searchKey" style="font-size:small">
							<div class="input-group-p	repend">
								<span class="input-group-text search_btn"><i class="fas fa-search"></i></span>
							</div>
						</div>
					</div> -->
					<div class="card-body contacts_body">
						<ul class="contacts">
						<li *ngFor="let room of roomlist" class="select active mx-auto mb-3" [@FadeInOut] (click)="redirectToChat(room.room_id,room.imageUrl,room.firstname,room.lastname,room.status,room._id)">
							<div class="d-flex bd-highlight">
								<div class="img_cont">
									<span *ngIf="room.imageUrl"><img src="http://localhost:5050/images/profilepic/{{room.imageUrl}}" alt="" class="rounded-circle user_img"></span>
									<span *ngIf="!room.imageUrl"><img src="../assets/images/default.jpg" alt="" class="rounded-circle user_img"></span>
									<span *ngIf="room.status == 'online'" class="online_icon"></span>
								</div>
								<div class="user_info">
									<span>{{room.firstname}}&nbsp;{{room.lastname}}</span>
									<p>{{room.firstname}}&nbsp;{{room.lastname}} is {{room.status}}</p>
								</div>
							</div>
						</li>
						</ul>
					</div>
					<div class="card-footer"></div>
				</div></div>
					</div>
				</div>
</body>