 <!DOCTYPE html>
<html>
<head>
  <title>Login Page</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
</head>
<body>
<div class="container">
	<div class="d-flex justify-content-center h-100">
		<div class="card">
			<div class="card-header">
				<h3>Sign Up</h3>
			</div>
			<div class="card-body">
          <form #userregister="ngForm" (ngSubmit)="registerUser(userregister.value)">
          <span *ngIf = "data">
            <div *ngIf='!error' class="alert alert-success text-dark">You are registered successfully!!!</div>
            <div *ngIf='error' class="alert alert-danger text-dark">Error in registering!!!</div>
          </span>
          <div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-user"></i></span>
						</div>
						<input type="text" class="form-control" placeholder="FirstName" name="firstname" ngModel>
					</div>
					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-user"></i></span>
						</div>
						<input type="text" class="form-control" placeholder="LastName" name="lastname" ngModel>
          </div>
          <div class="input-group form-group">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="fas fa-phone"></i></span>
              </div>
            <input type="text" class="form-control" placeholder="Phone" name="phone" ngModel>
          </div>
          <div class="input-group form-group">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="fas fa-address-card"></i></span>
              </div>
            <textarea class="form-control" placeholder="About" name="about" ngModel></textarea>
          </div>
          <div class="input-group form-group">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="fas fa-user"></i></span>
              </div>
            <input type="text" class="form-control" placeholder="Username" name="username" ngModel>
          </div>
          <div class="input-group form-group">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="fas fa-key"></i></span>
              </div>
            <input type="password" class="form-control" placeholder="Password" name="password" ngModel>
          </div>
          <div class="input-group form-group">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="fas fa-file"></i></span>
              </div>
              <input type="file" name="profilepic" accept="image/gif,image/png,image/jpeg" (change)="uploadImage($event)" ngModel>
          </div>
					<div class="form-group">
            <input type="submit" class="btn float-right login_btn" value="Sign Up"/>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
</body>
</html>